<h1 class="section-title">Listing blogs</h1>

<% @blogs.each do |blog| %>
<section class="clearfix article">
  <div class="thumbnail pull-left" style="background-image: url('http://goo.gl/9qDvpz'); "></div>
  <div class="pull-left summary">
    <h3 class="blog-title"><%= blog.title %></h3>
    <p class="desc"></p>
    <ul class="menu">
      <li><%= link_to 'もっと見る', blog %></li>
      <li><%= link_to '編集する', edit_blog_path(blog) %></li>
      <li><%= link_to '削除する', blog, method: :delete, data: { confirm: 'Are you sure? '} %></li>
    </ul>
  </div>
</section>
<% end %>

<%= link_to(new_blog_path) do %>
<div class="make-new">新しいブログを作成する</div><% end %>
